Test

In [1]:

from MysqlHelper import MysqlHelper

HOST_NAME = 'localhost'
USERNAME = 'root'
PASSWORD = ''
DB_NAME = 'jatado_blog'

mysqlHelper = MysqlHelper(host=HOST_NAME, user=USERNAME, password=PASSWORD, database=DB_NAME)
results = mysqlHelper.query('SELECT first_name, last_name, email FROM users;')
mysqlHelper.close()
df = mysqlHelper.rowsToPDTable(results, ['First Name', 'Last Name', 'Email'])
del mysqlHelper
df

  First Name Last Name                      Email
0       Kirk     Jones     haley.kobe@example.org
1    Johnnie   Bradtke        ethan97@example.net
2       Neha    Howell     jaden.jast@example.net
3    Ardella   Friesen         emil66@example.net
4    Caleigh   Streich  edyth.gerhold@example.com

Define Constants

In [2]:
from MysqlHelper import MysqlHelper

HOST_NAME = 'localhost'
USERNAME = 'root'
PASSWORD = ''
DB_NAME = 'data_warehouse'

Create Database and Tables

In [3]:
MysqlHelper.createDatabase(host=HOST_NAME, user=USERNAME, password=PASSWORD, database=DB_NAME)
mysqlHelper = MysqlHelper(host=HOST_NAME, user=USERNAME, password=PASSWORD, database=DB_NAME)

queryString='''
CREATE TABLE time (
    time_key BIGINT(20) NOT NULL AUTO_INCREMENT, 
    time TIME, 
    day INT, 
    day_of_the_week INT, 
    month INT, 
    quarter INT, 
    year INT, 
    PRIMARY KEY (time_key)
);
'''
mysqlHelper.mutate(queryString)

queryString='''
CREATE TABLE item (
    item_key BIGINT(20) NOT NULL AUTO_INCREMENT, 
    item_name VARCHAR(255), 
    brand VARCHAR(255), 
    type VARCHAR(255), 
    supplier_type VARCHAR(255), 
    PRIMARY KEY (item_key)
);
'''
mysqlHelper.mutate(queryString)

queryString='''
CREATE TABLE branch (
    branch_key BIGINT(20) NOT NULL AUTO_INCREMENT, 
    branch_name VARCHAR(255), 
    branch_type VARCHAR(255), 
    PRIMARY KEY (branch_key)
);
'''
mysqlHelper.mutate(queryString)

queryString='''
CREATE TABLE location (
    location_key BIGINT(20) NOT NULL AUTO_INCREMENT, 
    street VARCHAR(255), 
    city VARCHAR(255), 
    state_or_province VARCHAR(255), 
    country VARCHAR(255), 
    PRIMARY KEY (location_key)
);
'''
mysqlHelper.mutate(queryString)

queryString='''
CREATE TABLE sales_fact (
    sales_fact_key BIGINT(20) NOT NULL AUTO_INCREMENT, 
    time_key BIGINT(20), 
    item_key BIGINT(20), 
    branch_key BIGINT(20), 
    location_key BIGINT(20), 
    unit_sold INT, 
    dollars_sold FLOAT, 
    PRIMARY KEY (sales_fact_key),
    FOREIGN KEY (time_key) REFERENCES time(time_key),
    FOREIGN KEY (item_key) REFERENCES item(item_key),
    FOREIGN KEY (branch_key) REFERENCES branch(branch_key),
    FOREIGN KEY (location_key) REFERENCES location(location_key)
);
'''
mysqlHelper.mutate(queryString)

del mysqlHelper

Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful

### Seeding

Times

In [4]:
from faker import Faker
from random import randint

mysqlHelper = MysqlHelper(host=HOST_NAME, user=USERNAME, password=PASSWORD, database=DB_NAME)
faker = Faker()

DAYS_OF_THE_WEEK = [
    'Sunday',
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thursday',
    'Friday',
    'Saturday'
    ]

def getQuarter(month):
    quarter = 1

    if (month < 4):
        quarter = 2
    elif ( 3 < month < 7 ):
        quarter = 3
    elif ( month > 6 ):
        quarter = 4

    return quarter


for i in range(10):
    month = randint(1, 12)
    values = {
        'time': faker.time(),
        'day': randint(1, 28),
        'day_of_the_week': DAYS_OF_THE_WEEK[randint(0, 6)],
        'month': month,
        'quarter': getQuarter(month),
        'year': randint(2010, 2030)
    }

    queryString='''
    INSERT INTO TIME (
        time,
        day,
        day_of_the_week,
        month,
        quarter,
        year
    )
    VALUES
    (
        %s, %s, %s, %s, %s, %s
    )
    ;
    '''

    mysqlHelper.mutate(queryString, tuple(values.values()))
del mysqlHelper

Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful

Items

In [5]:
from faker import Faker
from random import randint

mysqlHelper = MysqlHelper(host=HOST_NAME, user=USERNAME, password=PASSWORD, database=DB_NAME)
faker = Faker()

for i in range(10):
    values = {
        'item_name': faker.word(),
        'brand': faker.word(),
        'type': faker.word(),
        'supplier_type': faker.word()
    }

    queryString='''
    INSERT INTO item (
        item_name,
        brand,
        type,
        supplier_type
    )
    VALUES
    (
        %s, %s, %s, %s
    )
    ;
    '''

    mysqlHelper.mutate(queryString, tuple(values.values()))
del mysqlHelper

Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful

Branch

In [6]:
from faker import Faker
from random import randint

mysqlHelper = MysqlHelper(host=HOST_NAME, user=USERNAME, password=PASSWORD, database=DB_NAME)
faker = Faker()

for i in range(10):
    values = {
        'branch_name': faker.word(),
        'branch_type': faker.word(),
    }

    queryString='''
    INSERT INTO branch (
        branch_name,
        branch_type
    )
    VALUES
    (
        %s, %s
    )
    ;
    '''

    mysqlHelper.mutate(queryString, tuple(values.values()))
del mysqlHelper

Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful

Location

In [7]:
from faker import Faker
from random import randint

mysqlHelper = MysqlHelper(host=HOST_NAME, user=USERNAME, password=PASSWORD, database=DB_NAME)
faker = Faker()

for i in range(10):
    values = {
        'street': faker.street_name(),
        'city': faker.city(),
        'state_or_province': faker.state(),
        'country': faker.country()
    }

    queryString='''
    INSERT INTO location (
        street,
        city,
        state_or_province,
        country
    )
    VALUES
    (
        %s, %s, %s, %s
    )
    ;
    '''

    mysqlHelper.mutate(queryString, tuple(values.values()))
del mysqlHelper

Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful

Sales Facts

In [8]:
from MysqlHelper import MysqlHelper

HOST_NAME = 'localhost'
USERNAME = 'root'
PASSWORD = ''
DB_NAME = 'data_warehouse'

In [9]:
from faker import Faker
from random import randint

mysqlHelper = MysqlHelper(host=HOST_NAME, user=USERNAME, password=PASSWORD, database=DB_NAME)

rows = mysqlHelper.query('SELECT time_key FROM time LIMIT 10')
results = mysqlHelper.rowsToList(rows)
timeKeys = [value for sublist in results for value in sublist]

rows = mysqlHelper.query('SELECT item_key FROM item LIMIT 10')
results = mysqlHelper.rowsToList(rows)
itemKeys = [value for sublist in results for value in sublist]

rows = mysqlHelper.query('SELECT branch_key FROM branch LIMIT 10')
results = mysqlHelper.rowsToList(rows)
branchKeys = [value for sublist in results for value in sublist]

rows = mysqlHelper.query('SELECT location_key FROM location LIMIT 10')
results = mysqlHelper.rowsToList(rows)
locationKeys = [value for sublist in results for value in sublist]

for i in range(10):
    values = {
        'time_key': timeKeys[randint(0, 9)],
        'item_key': itemKeys[randint(0, 9)],
        'branch_key': branchKeys[randint(0, 9)],
        'location_key': locationKeys[randint(0, 9)],
        'unit_sold': randint(0, 50),
        'dollars_sold': randint(50, 1000)
    }

    queryString='''
    INSERT INTO sales_fact (
        time_key,
        item_key,
        branch_key,
        location_key,
        unit_sold,
        dollars_sold
    )
    VALUES
    (
        %s, %s, %s, %s, %s, %s
    )
    ;
    '''

    mysqlHelper.mutate(queryString, tuple(values.values()))

del mysqlHelper

Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful
Mutation successful

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]